
$nav-background : linear-gradient(350deg, rgb(52,53,89), 80%, #423658);
$skin-background : #fcfcff;
$skin-purple: #3c3abe;
$dull-background : #c4c4c4;
$sidenav-links: rgb(52,53,89);
$text-shades: #2d2e37;
$icon-gradient: linear-gradient(90deg, rgba(52, 53, 89, 0.089), 50%, #423658);
